#boards {
    background-color: green;
}


.container-logging {
    text-align: center;
    margin-top: 100px;
}



/*   Start global   */

.logo {
  padding: 10px;
  width: auto;
  float: left;
}
.logo img {
  height: 55px;
}


/*   End media query   */

