{% extends 'layout.html' %}
{% block scripts %}
<script defer src="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js" integrity="sha256-egj5xxtj40Ds0GUbObVZ7m2LEOsnvu9i5Ogtmd1I+jk=" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="board-container" id="ui-board">
        <div class="board-columns-shown">
            <div class="header-column">
                <div>Proman</div>
                {% if session.username %}
                <div><button class="new-board-private">+ New Private Board</button></div>
                {% endif %}
                <div><button class="new-board-public">+ New Public Board</button></div>
            </div>
        </div>
    </div>
    <div id="root" class="board-container"></div>
{% endblock %}