<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Table Name:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                        <input name="new-board" id="new-board" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for("index") }}">
                        <button type="button" value="Submit" class="btn btn-primary" id="save-button" data-dismiss="modal">Save</button>
                    </form>
                </div>
        </div>
    </div>
</div>